{:kotoba.app/id "cloud.itonami.isic-3312", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreibzkmwca5fh5vuctaxaadwwl6ifsrzaw4rg2q5xiw2jxsa7obkd54", :kotoba.app/embed-url "ipfs://bafkreibzkmwca5fh5vuctaxaadwwl6ifsrzaw4rg2q5xiw2jxsa7obkd54", :published {:archive "https://kotobase.net/ipfs/bafkreibzkmwca5fh5vuctaxaadwwl6ifsrzaw4rg2q5xiw2jxsa7obkd54", :size 73160, :put-status 201, :get-status 200, :at "2026-08-15T13:43:51.156Z"}}
